{% extends "layout.html"  %}
{% block content %}
<!-- Total -->
<section id="one" class="wrapper style2 special">
    <header class="major">
        <h2>中吉</h2>
        
    </header>
    <h2>総合運</h2>
    <h3>美しい宝石で作られた仏塔が出現するように、素晴らしいことがありそうです。</h3>

</section>

<!-- Detail -->
<section id="two" class="wrapper">
    <div class="inner alt">
        <section class="spotlight">
            <div class="content">
                <h3>恋愛運</h3>
                <h5>人生の大切な人に出会う。</h5>
            </div>
        </section>
        <section class="spotlight">
            <div class="content">
                <h3>恋愛運</h3>
                <h5>人生の大切な人に出会う。</h5>
            </div>
        </section>
        <section class="spotlight">
            <div class="content">
                <h3>恋愛運</h3>
                <h5>人生の大切な人に出会う。</h5>
            </div>
        </section>
        <section class="spotlight">
            <div class="content">
                <h3>恋愛運</h3>
                <h5>人生の大切な人に出会う。</h5>
            </div>
        </section>
    </div>
</section>

{% endblock %}